.card-container {
    display: inline-flex;
    align-items: center;
    justify-content:center;
}
.card{
    margin: 2rem 3.5rem;
    border: 2px solid black;
    border-radius: 20px;
    width: 230px;
    padding:1rem 1rem;
    background-color:#BB0A21;
}

.card:hover{
    transform: translate(0, -7px);
    background-color:#8f081a;
}

.card-img img{
    width: 100%;
    max-height: 200px;
    border: 1px solid black;
    border-radius: 20px;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items: center;
    color: #E5ECE9;
    font-family: 'Nunito', sans-serif;
}

.card-info span{
    font-size: 15px;
    color: #FFD6E4;
    font-style: italic;
}

.watch-btn{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 0.5rem;
}

button{
    padding:0.5rem 1rem;
    background-color:#252627;
    border: none;
    border-radius: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    transition: all 0.16s ease-in;
}

button:hover{
background-color: #8f081a;
box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
}


.watch-btn a{
    text-decoration:none;
    color: #E5ECE9;
}


@media screen and (max-width:600px){
    .card-container{
        display:flex;
        flex-direction: column;
    }
}