nav{
    background: #BB0A21;
    height: 10vh;
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

nav h2{
    text-transform: capitalize;
    color: #E5ECE9;
    font-family: 'Zen Tokyo Zoo', cursive;
}